<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>新建/修改提案</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="layui/css/layui.css">
    <link rel="stylesheet" type="text/css" href="libs/css/style.css">
</head>
<body>
<div class="layui-fluid">
    <form action="" class="layui-form-item layui-form" onsubmit="return false;" lay-filter="amendLaws">
        <div class="layui-form-item" style="padding-top:20px;">
            <label class="layui-form-label">标题:</label>
            <div class="layui-input-block">
                <input type="hidden" id="lawsId" name="lawsId" autocomplete="off" class="layui-input" th:value="${lawsId}">
                <input type="text" name="title" required lay-verify="required" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">修改时间：</label>
            <div class="layui-inline left">
                <input type="text" name="createTime" class="layui-input" disabled="true">
            </div>

            <label class="layui-form-label">来源：</label>
            <div class="layui-inline left">
                <input type="text" name="period" required lay-verify="required" autocomplete="off" class="layui-input">
            </div>

            <label class="layui-form-label">发布用户：</label>
            <div class="layui-inline left">
                <input type="text" name="createUser" disabled="true" autocomplete="off" class="layui-input">
            </div>
        </div>
        <!--<div class="layui-form-item">
            <label  class="layui-form-label">附件上传:</label>
            <div class="layui-inline left">
                <button type="button" class="layui-btn" id="upload">
                    <i class="layui-icon">&#xe67c;</i>文件上传
                </button>
            </div>
        </div>-->
        <div class="layui-form-item">
            <label class="layui-form-label"></label>
            <div class="layui-input-block">
                <textarea id="editAera" style="display: none;"></textarea>
            </div>
        </div>
        <div class="layui-form-item text-c">
            <div class="layui-inline">
                <button type="button" class="layui-btn" lay-submit="" lay-filter="laws">提交投稿</button>
            </div>
            <div class="layui-inline">
                <button type="button" class="layui-btn" id="toClose">关闭页面</button>
            </div>
        </div>
    </form>
</div>

<script src="layui/layui.js"></script>
<script>
    layui.use(['layedit', 'laydate', 'form', 'upload', "element", "jquery"], function () {
        var table = layui.table
            , layedit = layui.layedit
            , form = layui.form
            , element = layui.element
            , $ = layui.jquery;
        // 编辑器
        var layedit = layui.layedit;
        //构建一个编辑器
        var index = layedit.build('editAera', {
            height: 800 //设置编辑器高度
        });

        // 日期
        var laydate = layui.laydate;
        //执行一个laydate实例
        laydate.render({
            elem: '#date' //指定元素
            , theme: '#c50e10'
        });

        //回显
        $.ajax({
            url: "system/laws/lookLaws/" + $("#lawsId").val(),
            type: "GET",
            data: {},
            dataType: "json",
            success: function (data) {
                form.val('amendLaws', {
                    "lawsId": data.lawsId
                    , "title": data.title
                    , "period": data.period
                    , "createTime": data.createTime
                    , "createUser": data.createUser
                })
                layedit.setContent(index, data.content, false)
            }

        });

        var goto = false;
        form.on('submit(laws)', function (data) {
            if (goto) {
                layer.msg('您已经点过了，请等待...', {icon: 4, time: 1500})
                return false;
            }
            goto = true;
            // parent.layui.layer.closeAll();
            data.field.content = layedit.getContent(index);
            data.field.createTime = new Date(data.field.createTime);
            $.ajax({
                url: "system/laws/update",
                data: data.field,
                type: "POST",
                dataType: "json",
                success: function (msg) {
                    console.log(msg)
                    layer.closeAll();
                    layer.msg(msg.resp_msg, {icon: 1, time: 1500}, function () {
                        parent.layui.layer.closeAll();
                    });

                },
                error: function (error) {
                    alert("异常")
                }
            });
        });

        // 关闭页面
        $("#toClose").on("click", function () {
            parent.layui.layer.closeAll();
        });


    });
</script>
</body>
</html>
