<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8"/>
    <title>提案详情</title>
    <style>
        html, body {
            font-size: 14px;
            font-family: "宋体";
            color: #222222;
        }

        .detail {
            width: 800px;
            margin: 50px auto;
        }

        .title {
            font-size: 20px;
            text-align: center;
        }

        .table {
            width: 100%;
            border: 1px solid #000000;
            border-left: 0;
            border-bottom: 0;
        }


        .table th {
            text-align: center;
            width: 110px;
        }

        .table th, td {
            padding: 8px;
            border-left: 1px solid #000000;
            border-bottom: 1px solid #000000;
        }

        .content {
            /*min-height: 400px;*/
            padding: 0 8px;
        }

        .content p {
            margin: 0;
            text-align: justify;
            font-size: 16px;
            padding: 2px 0;
            line-height: 24px !important;
        }

        .t1 {
            font-weight: 700;
            font-size: 22px;
        }

        .t2 {
            margin-right: 10px;
            padding-right: 10px;
            font-weight: 700;
            font-size: 22px;
        }

        .tab {
            padding-top: 30px;
            line-height: 50px;
        }

        .table1 {
            page-break-before: auto;
            page-break-after: always;
            margin-bottom: 5px;
            font-family: "宋体";
            font-size: 16px;
            width: 100%;
            border-spacing: 0;
            border-collapse: separate;
            border: 1px solid #000000;
            border-left: 0;
            border-bottom: 0;
        }

        .table1 th {
            text-align: center;
            width: 135px;
            height: 30px;
        }

        .table1 th, td {
            padding: 8px;
            border-left: 1px solid #000000;
            border-bottom: 1px solid #000000;
        }
    </style>
    <style id="print-style">
        .title {
            font-size: 30px;
            text-align: center;
        }

        .table {
            font-family: "宋体";
            font-size: 16px;
            width: 100%;
            border-spacing: 0;
            border-collapse: separate;
            border: 1px solid #000000;
            border-left: 0;
            border-bottom: 0;
        }

        .table th {
            text-align: center;
            width: 135px;
        }

        .table th, td {
            padding: 8px;
            border-left: 1px solid #000000;
            border-bottom: 1px solid #000000;
        }

        /*  .content {
              !*min-height: 400px;*!
              padding: 0 8px;
          }

          .content p {
              margin: 0;
              text-align: justify;
              font-size: 16px;
              padding: 2px 0;
              line-height: 24px !important;
          }*/
    </style>
</head>

<body>
<span name="proposalId" id="proposalId" th:text="${proposalId}" hidden="true"></span>
<div class="detail">

    <div style="height: 100px">
        <div style="float: right">
            <p style=" font-size:14pt">提案类型:<span name="type"></span></p>
            <p style=" font-size:14pt">提案类别:<span name="classify"></span></p>
            <p style=" font-size:14pt">收到提案时间:<span name="createTime"></span></p>
        </div>
    </div>

    <p style="font-size:24pt; line-height:150%; margin:0pt; orphans:0; text-align:center; widows:0"><span
            style="font-family:宋体; font-size:24pt; font-weight:bold">&#xa0;</span></p>


    <div>
        <div>

            <div style="float: left"><p style="margin: 25px 0 0.5em;"><span style="font-family: 新宋体;font-size: 15pt">中 国 人 民</span>
            </p>
                <p style="margin: 0.5em 0;"><span style="font-family: 新宋体;font-size: 15pt;">政治协商会议</span></p></div>


            <div style="float: left"><p></p>
                <p
                        style="font-size:35pt; line-height:150%; margin:0pt; orphans:0; text-align:center; widows:0">
        <span style="font-family:宋体; font-size:33pt; font-weight:bold">常宁市第<span name="anniversary"></span>届委员会第<span
                name="number"></span>次会议</span></p></div>
        </div>


        <div style="width: 100%;height:75px"></div>
        <div><p align="center">
            <p></p>
            <p style="background-color:#ffffff; font-size:20pt; line-height:150%; margin:0pt; text-align:center">
        <span
                style="font-family:宋体; font-size:25pt; font-weight:bold"><strong
                style="font-size: 60px ">提 &nbsp;案</strong>(第 <span
                name="proposalNumber"></span> 号)</span>
            </p></p></div>

    </div>
    <!--      <div style="height: 30px"></div>-->


    <div class="tab" cellpadding="0" cellspacing="0">
        <p><span class="t1">案由(提案题目): </span> <span style=" display: inline-block;
    width: 600px; border-bottom: 1px #000000 solid;" name="cause" class="t2"></span>   </p>
        <p><span class="t1">审查意见(审查机构填写): </span> <span style=" display: inline-block;
    width: 510px; border-bottom: 1px #000000 solid;" name="review" class="t2"></span></p>
        <p><span class="t1">主办单位: </span> <span style=" display: inline-block;
    width: 645px; border-bottom: 1px #000000 solid;" name="zunits" class="t2"></span></p>
        <p><span class="t1">会办单位:</span> <span style=" display: inline-block;
    width: 645px; border-bottom: 1px #000000 solid;" name="hunits" class="t2"></span></p>
    </div>

    <table class="table1" cellpadding="0" cellspacing="0">
        <!--        <tr> -->
        <!--            <th>提案者</th>-->
        <!--            <td><span name="realName"></span></td>-->
        <!--            <th>移动电话</th>-->
        <!--            <td><span name="mobile"></span></td>-->
        <!--        </tr>-->
        <!--        <tr>-->
        <!--            <th>界别</th>-->
        <!--            <td><span name="subsector"></span></td>-->
        <!--            <th>工作单位</th>-->
        <!--            <td><span name="unitName"></span></td>-->
        <!--        </tr>-->
        <!--        <tr>-->
        <!--            <th>提案类型</th>-->
        <!--            <td><span name="type"></span></td>-->
        <!--            <th>提案类别</th>-->
        <!--            <td><span name="classify"></span></td>-->
        <!--        </tr>-->
        <!--        <tr>-->
        <!--            <th>联名人</th>-->
        <!--            <td><span name="peoplestwo"></span></td>-->
        <!--            <th>通讯地址</th>-->
        <!--            <td><span name="address"></span></td>-->
        <!--        </tr>-->
        <tr style="font-size: 14pt">
            <td>联名人</td>
            <td>界别</td>
            <td>通讯地址</td>
            <td>联系电话</td>
        </tr>
        <tr  style="height: 39px ; font-size: 13pt" id="sta" >
            <td name="RName"></td>
            <td name="sub"></td>
            <td name="adss"></td>
            <td name="iphone"></td>
        </tr>
        <tr th:each="s,state:${userList}" style="font-size: 13pt" >
            <td>[[${s.jpmsUser.realName}]]</td>
            <td>[[${s.jpmsUser.subsector}]]</td>
            <td>[[${s.jpmsUser.address}]]</td>
            <td style="display:none" id="sizes">[[${state.size}]]</td>
            <td>[[${s.jpmsUser.mobile}]]</td>
        </tr>

        <tr  style="height: 39px" id="stb">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr  style="height: 39px" id="stc">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr  style="height: 39px" id="std">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr  style="height: 39px" id="ste">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr  style="height: 39px" id="stf">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr  style="height: 39px" id="stg">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr  style="height: 39px" id="sth">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr  style="height: 39px" id="sti">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>


    <table class="table " cellpadding="0" cellspacing="0">
        <tr>
            <th colspan="4">提案正文</th>
        </tr>
        <tr>
            <td colspan="4">
                <div class="content" name="content">

                </div>
            </td>
        </tr>

        <tr>
            <th colspan="4">提案办理详情</th>
        </tr>
        <tr>
            <th>提案创建时间</th>
            <td colspan="3"><span name="createTime">0</span></td>
        </tr>
        <tr>
            <th>办结时间</th>
            <td colspan="3"><span name="endTime">0</span></td>
        </tr>
        <tr>
            <th>提案附件</th>
            <td class="td80" colspan="3">
                <ul th:each="s,state:${JpmsAppendione}">
                    <li class="tdDiv tdBlue">
                        &nbsp;<a th:href="'../file/' + ${s.appendixId}" style="color: blue">[[${s.appendixName}]]</a>
                        <span class="date">[[${s.createTime}]]</span>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <th>提案委意见</th>
            <td class="td80" colspan="3">
                <ul th:each="s,state:${JpmsAppendixtwo}">
                    <li class="tdDiv tdBlue">
                        &nbsp;<a th:href="'../file/' + ${s.appendixId}" style="color: blue">[[${s.appendixName}]]</a>
                        <span class="date">[[${s.createTime}]]</span>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <th>两办意见</th>
            <td class="td80" colspan="3">
                <ul th:each="s,state:${two}">
                    <li class="tdDiv tdBlue">
                        &nbsp;<a th:href="'../file/' + ${s.appendixId}" style="color: blue">[[${s.appendixName}]]</a>
                        <span class="date">[[${s.createTime}]]</span>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <th>主办意见</th>
            <td colspan="3">
                <ul th:each="s,state:${JpmsAppendixz}">
                    <li class="tdDiv tdBlue">
                        <span style="color: red">办理单位：[[${s.unitName}]]</span><br>
                        <span style="color: #9F9F9F" shiro:hasPermission="after">之前办理类型：[[${s.answerAfter}]]</span><br>
                        办理类型： <span style="color: #9F9F9F">[[${s.answer}]]</span><br>
                        附件：<a th:href="'../file/' + ${s.appendixId}" style="color: blue">[[${s.appendixName}]]</a><br>
                        时间： <span class="date">[[${s.createTime}]]</span>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <th>会办意见</th>
            <td colspan="3">&nbsp;
                <ul th:each="s,state:${JpmsAppendixh}">
                    <li>
                        <span style="color: red">办理单位：[[${s.unitName}]]</span><br>
                        <span style="color: #9F9F9F" shiro:hasPermission="after">之前办理类型：[[${s.answerAfter}]]</span><br>
                        办理类型： <span style="color: #9F9F9F">[[${s.answer}]]</span><br>
                        附件：<a th:href="'../file/' + ${s.appendixId}" style="color: blue">[[${s.appendixName}]]</a><br>
                        时间： <span>[[${s.createTime}]]</span>
                    </li>
                </ul>
            </td>
        </tr>
        <tr>
            <th>委员满意度测评</th>
            <td class="td80" colspan="3">&nbsp;
                <a href="javascript:void(0)" onclick="wySat(proposalId)" style="color: blue"><u>提案办理情况征求意见表(委员)</u></a>
                <ul th:each="s,state:${JpmsAppendixthree}" hidden="hidden">
                    <li class="tdDiv tdBlue">
                        &nbsp;<a th:href="'../file/' + ${s.appendixId}" style="color: blue">[[${s.appendixName}]]</a>
                        <span name="appendixId" id="appendixId" th:text="${s.appendixId}" hidden="true"></span>
                        <span name="appendixName" id="appendixName" th:text="${s.appendixName}" hidden="true"></span>
                        <span class="date">[[${s.createTime}]]</span>
                    </li>
                </ul>
            </td>
        </tr>
        <!--暂时不需要,先隐藏-->
        <tr style="display: none">
            <th>提案委满意度测评</th>
            <td class="td80" colspan="3">&nbsp;
                <a href="javascript:void(0)" onclick="tawSat(proposalId)" style="color: blue"><u>提案办理情况征求意见表(提案委)</u></a>
            </td>
        </tr>
    </table>
</div>

<!--<div style="text-align: center;">
    &lt;!&ndash;    <button type="button" id="print">打印</button>&ndash;&gt;
    <a th:href="'../word/'+${proposalId}">下载doc</a>
    <input class="layui-btn layui-btn-red" type="button" value=" 打 印 预 览 " onclick="javascript: window.print();">

</div>-->

<script src="../libs/js/jquery.min.js"></script>
<script src="../layui/layui.js"></script>
<script>

    var layer;
    layui.use('layer', function () {
        layer = layui.layer;
    })


    function wySat(proposalId) {
        proposalId = $("#proposalId").text();
       var appendixId = $("#appendixId").text();
       var appendixName = $("#appendixName").text();
        layer.open({
            type: 2,
            title: " ",
            area: ['800px', '400px'],
            content:encodeURI('wySatisfaction?proposalId=' + proposalId +'&appendixId='+appendixId +'&appendixName='+appendixName)
        });
    }


    function tawSat(proposalId) {
        proposalId = $("#proposalId").text();
        layer.open({
            type: 2,
            title: " ",
            area: ['800px', '400px'],
            content:encodeURI('tawSatisfaction?proposalId=' + proposalId)
        });
    }

    $(function () {
        var sizes = $("#sizes").text()

        if(sizes == 1){
             $("#sti").css('display', 'none');
        }
        if(sizes == 2){
            $("#sti,#stb").css('display', 'none');
        }
        if(sizes == 3){
            $("#sti,#stb,#stc").css('display', 'none');
        }
        if(sizes == 4){
            $("#sti,#stb,#stc,#std").css('display', 'none');
        }
        if(sizes == 5){
            $("#sti,#stb,#stc,#std,#ste").css('display', 'none');
        }
        if(sizes == 6){
            $("#sti,#stb,#stc,#std,#ste,#stf").css('display', 'none');
        }
        if(sizes == 7){
            $("#sti,#stb,#stc,#std,#ste,#stf,#stg").css('display', 'none');
        }
        if(sizes == 8){
            $("#sti,#stb,#stc,#std,#ste,#stf,#stg,#sth").css('display', 'none');
        }
        if(sizes >= 9){
            $("#stb,#stc,#std,#ste,#stf,#stg,#sth,#sti").css('display', 'none');
        }


        /*  $("#print").on("click", function () {
              // LODOP = getLodop();
              // var strBodyStyle = "<style>" + $("#print-style").html() + "</style>";
              // var strFormHtml = strBodyStyle + "<body>" + $(".detail").html() + "</body>";
              // LODOP.SET_PRINT_PAGESIZE(1, 0, 0, 'A4');
              // LODOP.ADD_PRINT_HTM("0.5cm", "0.4cm", "RightMargin:0.4cm", "BottomMargin:1cm",
              //     strFormHtml);
              // LODOP.PREVIEW();
              LODOP = getLodop();
              LODOP.PRINT_INIT("打印控件功能演示_Lodop功能_完整全页");
              LODOP.ADD_PRINT_HTM(10, 10, "100%", "100%", "<!DOCTYPE html>" + document.getElementsByTagName("html")[0].innerHTML);
              LODOP.PREVIEW();

          });*/

        $.ajax({
            url: "../parent/lookProposal/" + $("#proposalId").text(),
            type: "GET",
            data: {},
            dataType: "json",
            success: function (data) {
                // $("[name=proposalNumber]").text(data.proposalNumber);//提案号
                if (data.review == null) {
                    $("[name=review]").text("");
                } else {
                    $("[name=review]").text(data.review);
                }
                if (data.proposalNumber == null) {
                    $("[name=proposalNumber]").text("  ");
                } else {
                    $("[name=proposalNumber]").text(data.proposalNumber);
                }

                console.log(data.juser)

                $("[name=cause]").text(data.cause);//案由
                $("[name=anniversary]").text(data.anniversary);//届
                $("[name=number]").text(data.number);//次
                $("[name=address]").text(data.juser.address);//通讯地址
                $("[name=adss]").text(data.juser.address);//通讯地址
                $("[name=content]").html(data.content);//内容
                $("[name=realName]").text(data.juser.realName);//提案者
                if (data.juser.realName == null) {
                    $("[name=RName]").text("  ");
                } else {
                    $("[name=RName]").text(data.juser.realName+ "(提案者)");
                }
                $("[name=unitName]").text(data.juser.unitName);//工作单位

                //  $("[name=email]").text(data.juser.email);//邮箱
                $("[name=subsector]").text(data.juser.subsector);//界别
                if (data.juser.subsector == null) {
                    $("[name=sub]").text("  ");
                } else {
                    $("[name=sub]").text(data.juser.subsector);//界别
                }

                $("[name=mobile]").text(data.juser.mobile);//手机
                if (data.juser.mobile == null) {
                    $("[name=iphone]").text("  ");
                } else {
                    $("[name=iphone]").text(data.juser.mobile);//手机
                }

                if (data.specifica == null) {
                    $("[name=type]").text(data.type);//类型
                } else {

                    $("[name=type]").text(data.type + "(" + data.specifica + ")");//类型
                }

                $("[name=classify]").text(data.classify);//类别
                // if (data.isWrite == 1) {//是否本人撰写
                //     $("[name=isWrite]").text("是");
                // } else {
                //     $("[name=isWrite]").text("否")
                // }
                // if (data.isResearch == 1) {//是否经过调研
                //     $("[name=isResearch]").text("是");
                // } else {
                //     $("[name=isResearch]").text("否")
                // }
                // if (data.isTopic == 1) {//是否参考提案选题
                //     $("[name=isTopic]").text("是");
                // } else {
                //     $("[name=isTopic]").text("否")
                // }
                // if (data.isMaterials == 1) {//是否转呈他人材料
                //     $("[name=isMaterials]").text("是");
                // } else {
                //     $("[name=isMaterials]").text("否")
                // }
                if (data.peoplesthree == null) {
                    $("[name=peoplestwo]").text("");
                } else {
                    $("[name=peoplestwo]").text(data.peoplesthree);//联名人
                }

                if (data.zunits == null) {
                    $("[name=zunits]").text("");//主办
                } else {
                    $("[name=zunits]").text(data.zunits);//主办
                }
                if (data.hunits == null) {
                    $("[name=hunits]").text("");//会办
                } else {
                    $("[name=hunits]").text(data.hunits);//会办
                }
                //  $("[name=postcode]").text(data.juser.postcode);//邮编
                if (data.juser.postcode == null) {
                    $("[name=postcode]").text("");
                } else {
                    $("[name=postcode]").text(data.juser.postcode);
                }
                $("[name=createTime]").text(data.createTime);//提案创建时间
                if (data.endTime == null) {
                    $("[name=endTime]").text("暂未办结");
                } else {
                    $("[name=endTime]").text(data.endTime);//办结时间
                }
                if (data.satisfaction == null) {
                    $("[name=satisfaction]").text("");//满意度测评
                } else {
                    $("[name=satisfaction]").text(data.satisfaction);//满意度测评
                }
            }
        });

    });


</script>
</body>
</html>
