<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>常宁市智慧政协提案综合办理系统</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="layui/css/layui.css">
    <link rel="stylesheet" type="text/css" href="libs/css/style.css">
</head>
<body class="layui-layout-body layui-list">
<div class="layui-layout">
    <div class="layui-card layadmin-header">
        <div class="breadcrumb">
            <i class="layui-icon layui-icon-home"></i>
            <span class="layui-breadcrumb" lay-separator=">">
                    <a>系统管理</a>
                    <a>修改密码</a>
                </span>
            <button type="button" class="layui-btn layui-btn-red layui-btn-xs right" id="layui-Reload">
                <i class="layui-icon layui-icon-refresh"></i>
            </button>
        </div>
    </div>
    <!-- 内容主体区域 -->
    <div class="list-content">
        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-header">修改密码</div>
                        <div class="layui-card-body" pad15="">
                            <from class="layui-form" onsubmit="return false;">
                                <div class="layui-form-item">
                                    <label class="layui-form-label">当前密码</label>
                                    <div class="layui-input-inline">
                                        <input type="password" name="password_old" lay-verify="required" lay-vertype="tips" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">新密码</label>
                                    <div class="layui-input-inline">
                                        <input type="password" name="password_new"  lay-verify="pass" lay-vertype="tips" autocomplete="off" id="LAY_password" class="layui-input">
                                    </div>
                                    <div class="layui-form-mid layui-word-aux">密码由数字和字母组成6到12位</div><!--placeholder="密码由数字和字母组成6到12位"-->
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">确认新密码</label>
                                    <div class="layui-input-inline">
                                        <input type="password" name="password_confirm" lay-verify="pass" lay-vertype="tips" autocomplete="off" class="layui-input">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <div class="layui-input-block">
                                        <button class="layui-btn layui-btn-red" lay-submit="" lay-filter="setmyinfo">确认修改</button>
                                    </div>
                                </div>
                            </from>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="layui/layui.js"></script>

<script>
    //JavaScript代码区域
    layui.use(["table", "form", "element", "jquery"], function () {
        // 加载表格
        var table = layui.table
            , form = layui.form
            , element = layui.element
            , $ = layui.jquery;

        //修改密码——>监听提交
        var goto = false;
        form.on('submit(setmyinfo)', function (data) {
            if(goto){
                layer.msg('您已经点过了，请等待...', {icon: 2, time: 1500})
                return false;
            }
            goto=true;
            if (data.field.password_new == data.field.password_confirm) {
                $.ajax({
                    url: "system/user/updatepwd",
                    data: data.field,
                    type: "GET",
                    dataType: "json",
                    success: function (msg) {
                        console.log(msg)
                        layer.closeAll();
                        layer.msg(msg.resp_msg, {icon: 1, time: 1500},function () {
                           // goto = false;
                            parent.layui.layer.closeAll();
                            parent.location.reload();
                        });


                    },
                    error: function (error) {
                        alert("异常")
                    }
                });
            } else {
                layer.msg("两次密码不一致！", {icon: 1, time: 1500});
            }
            return false;
        });

        form.verify({
            pass: [
                /^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,12}$/
                ,'密码由数字和字母组成6到12位'
            ]

        });


        // 重载表格
        $("#layui-Reload").on("click", function() {
            //执行重载
            window.location.reload();
        });
    });
</script>

</body>
</html>