<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jiebao.jpms.mapper.JpmsPunitMapper">


   <!-- <update id="updateByproId" parameterType="com.jiebao.jpms.model.JpmsPunit">
        UPDATE  jiebao_jpms_punit p   SET  p.answer = null where p.type= #{type} and  p.proposal_id = #{proId}
    </update>-->
</mapper>